body{
    background-color: #0b0e13;
}
    
    
header {
    color: #cbcbcb;
    font-family: Arial;
    justify-content: space-between;
    align-items: center;
    padding: 0px 130px;
    display: flex;



}

nav ul{
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;

}

nav a {
    text-decoration: none;
    color: #cbcbcb;
    font-weight: bold;
}

nav a:hover{
    color: #333;
}

.projetos {
    display: grid;
    grid-template-columns: repeat(4, 260px); 
    gap: 25px 25px;
    padding: 15px;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center; 
}

.card {
    font-family: Arial;
    color: #cbcbcb;
    background: #212127;
    border-radius: 10px;
    padding: 7px;
    text-align: center;
    border: 1px solid #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 260px; 
}

.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.card a{
    display: inline-block;
    margin-top: 0px;
    padding: 8px 12px;
    background: #34475b;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.card a:hover {
    background: #05192f;
}


footer {
  background: #212127;
  color: #ffffff;
  text-align: center;
  padding: 15px 0;
  
  bottom: 0;
  width: 100%;
  font-size: 0.9em;
}